.leaflet-container {
  width: 100%;
  height: 100vh; /* this is percentage, of viewport height */
}

.collapsed {
  display: none;
  /* overflow: hidden; */
}

.active, .spot:hover {
  color:grey;
}

.spot {
  background-color: white;
  border: none;
  cursor: pointer;
}